extends layout

block content
  h1.headLine Log In!
  if errors
    ul
      for error in errors
        li!= error.msg
  form(action="/login" method="post")
    label UserName
    input(type="text" name="userName")
    br
    label password
    input(type="password" name="password")
    br
    button(type="submit") SubmitTheButton